 <!-- Inicio Modal Visualizar Pet -->
 <div class="modal fade" id="modalVisualizarPet" role="dialog" aria-hidden="ture">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          <h4 class="modal-title">Editar Suprimento</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="page-header">
              <h4>Cadastro Suprimentos</h4>
            </div>
            <form>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tipo">Tipo</label>
                  <input type="text" class="form-control" id="tipo" placeholder="Tipo">
                </div>
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" placeholder="Nome">
                </div>
                <div class="form-group">
                  <label for="marca">Marca</label>
                  <input type="text" class="form-control" id="marca" placeholder="Marca">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="quantidade">Quantidade</label>
                  <input type="number" class="form-control" id="quantidade" placeholder="Quantidade">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="unidade">Unidade</label>
                  <select class="form-control" id="unidade">
                    <option value="" selected disabled hidden>Kilos</option>
                    <option>Kilos</option>
                    <option>Litros</option>
                    <option>Outros</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="dataValidade">Data de Validade</label>
                  <input type="date" class="form-control" id="dataValidade">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="dataEntrada">Data de Entrada</label>
                  <input type="date" class="form-control" id="dataEntrada">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="descricao">Descrição</label>
                  <textarea class="form-control" rows="5" id="descricao"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Adotar <span class=""></span></button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim do modal -->