<div class="container page-box">
  <div class="row" style="margin-top:2%">
    <div class="col-md-8">
      <h3 class="text-left">Pesquisa de Usuários</h3>
      <div class="input-group" [formGroup]="filtroUsuarioForm">
        <input type="text" formControlName="nomeUsuario" name="nomeUsuario" class="form-control" placeholder="Pesquisar" id="pequisar">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4" *ngFor="let user of (users | filtraUsuarios: this.filtroUsuarioForm)">
        <!-- Inicio do card -->
        <div class="w3-card-2" style="margin-bottom:5%;">
          <br>
          <header class="w3-container w3-white">
            <h4 class="text-center">{{user.name}}</h4>
          </header>
          <hr>
          <div style="height:100px;" class="w3-container w3-white w3-margin-bottom">
            <!--<p><strong>Tipo: </strong>Funcionário</p>-->
            <p><strong>Sexo: </strong>{{user.sex}}</p>
            <p><strong>Telefone: </strong>{{user.phone_number}}</p>
            <p><strong>E-mail: </strong>{{user.email}}</p>
          </div>
          <footer class="w3-container w3-white">
            <button type="button" class="btn btn-default" style="float:right; margin-top:5%; margin-bottom:5%;" data-toggle="modal" data-target="#modalEditar"
              (click)="sendUser(user)"> Editar <span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-default" style="float:right; margin-top:5%; margin-bottom:5%; margin-right:5px"
              data-toggle="modal" data-target="#modalAlerta" (click)="sendUser(user)"> Excluir <span class="glyphicon glyphicon-trash"></span></button>
          </footer>
        </div>
        <!-- Fim do card -->
      </div>
      <user-edit-user [user]="currentUser"></user-edit-user>
    </div>
    <!-- Inicio Modal de Carregamento -->
    <div class="modal fade" id="modalCarregamento" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-sm">
        <div class="row">
          <div class="col-md-12">
            <img class="img-responsive center-block" src="assets/img/giphy.gif" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Fim do modal -->
     <!-- Inicio Modal de Alerta -->
  <div class="modal fade" id="modalAlerta" role="dialog" aria-hidden="ture" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
        </button>
          <h4>Alerta</h4>
        </div>
        <div class="modal-body">
          <p class="text-center">{{mensagemAlerta}}</p>
        </div>
        <div class="modal-footer">
          <div class="col-md-6">
            <p class="text-center" *ngIf="!this.deletarUsuario"> <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onDelete(currentUser)">Confirmar <span class="glyphicon glyphicon-ok"></span> </button> </p>
          </div>
          <div class="col-md-6">
            <p class="text-center" *ngIf="!this.deletarUsuario"> <button type="button" class="btn btn-default" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span> </button> </p>
          </div>
          <div class="col-md-12">
            <p class="text-center" *ngIf="this.deletarUsuario"> <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onStatusAlerta()">OK <span class="glyphicon glyphicon-ok"></span> </button> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim do modal -->
  </div>
</div>'