<div class="container page-box">
  <div class="row" style="margin-top:2%">
    <div class="col-md-8">
        <h3 class="text-left">Pesquisa de Usuários</h3>
      <div class="input-group" [formGroup]="filtroUsuarioForm">
        <input type="text" formControlName="nomeUsuario" name="nomeUsuario" class="form-control" placeholder="Pesquisar" id="pequisar">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4" *ngFor="let user of (users | filtraUsuarios: this.filtroUsuarioForm)" >
        <!-- Inicio do card -->
        <div class="w3-card-2" style="margin-bottom:5%;">
          <br>
          <header class="w3-container w3-white">
            <h4 class="text-center">{{user.name}}</h4>
          </header>
          <hr>
          <div style="height:100px;" class="w3-container w3-white w3-margin-bottom">
            <!--<p><strong>Tipo: </strong>Funcionário</p>-->
            <p><strong>Sexo: </strong>{{user.sex}}</p>
            <p><strong>Telefone: </strong>{{user.phone_number}}</p>
            <p><strong>E-mail: </strong>{{user.email}}</p>
          </div>
          <footer class="w3-container w3-white">
            <button type="button" class="btn btn-default" style="float:right; margin-top:5%; margin-bottom:5%;" data-toggle="modal" data-target="#modalEditar" (click)="sendUser(user)"> Editar <span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-default" style="float:right; margin-top:5%; margin-bottom:5%; margin-right:5px"> Excluir <span class="glyphicon glyphicon-trash"></span></button>
          </footer>
        </div>
        <!-- Fim do card -->
      </div>
      <user-edit-user [user]="currentUser"></user-edit-user>
    </div>
  </div>
</div>