<div class="container">
  <div class="logo-img text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <img alt="Brand" src="assets/img/petvalley.png">
  </div>
  <div class="login col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <h3>Login</h3>
      <form [formGroup]="loginForm">
        <div *ngIf="error !== undefined" class="alert alert-danger" role="alert"><strong>Erro! </strong>{{error}}</div>
        <div class="form-group" [class.has-success]="loginForm.get('email').valid && (loginForm.get('email').dirty || loginForm.get('email').touched)"
                                [class.has-error]="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          <label for="">Email</label>
          <input formControlName="email" type="text" class="form-control" id="email" placeholder="">
        </div>
        <div class="form-group">
          <label for="">Senha</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="">
        </div>
        <div class="form-group">
          <a><button class="btn btn-primary button" [disabled]="loginForm.invalid" (click)="onLogin()" >Login</button></a>
          <a><button [routerLink]="['/registerUser']" class="btn btn-warning button">Cadastrar</button></a>
        </div>
        <!--<div class="form-group">
          <a>Esqueceu sua senha?</a>
        </div>-->
      </form>
  </div>
</div>