.login{
    background-color: white;
}
.login input{
    border-radius: 0
}
.login h3{
    text-align: center
}
button{
    margin-top: 10px;
}
.logo-img img{
    margin-top: 120px;
    margin-bottom: 10px;
    max-width:350px;
    max-height:70px;
    width: auto;
    height: auto;
}
