<div id="formularioSE" class="tab-pane">
    <form class="form-inline">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h4>Formulário</h4>    
                </div>
                <div class="col-md-12">
                  <label for="numMoradores">1 - Além de você quantas pessoas moram em sua casa:</label>
                  <input type="number" class="form-control largura" id="numMoradores">
                </div>
                <div class="col-md-12 margem-topo">
                        <label>2 - Você ou sua familia são benéficiarios de Programas Sociais: </label>
                        <label class="radio-inline"><input type="radio" name="optSN">Sim</label>
                        <label class="radio-inline"><input type="radio" name="optSN">Não</label>
                </div>
                <div class="col-md-12 margem-topo">
                        <label>3 - Você e sua familia residem?</label>
                        <label class="radio-inline"><input type="radio" name="optPA">Imóvel Próprio</label>
                        <label class="radio-inline"><input type="radio" name="optPA">Imóvel Alugado</label>
                </div>
                <div class="col-md-offset-1 col-md-11">
                        <label>3.1 - Qual tipo?</label>
                        <label class="radio-inline"><input type="radio" name="optCA">Casa</label>
                        <label class="radio-inline"><input type="radio" name="optCA">Apartamento</label>
                </div>
                <div class="col-md-12 margem-topo">
                        <label>4 - Sua casa possui quintal ?</label>
                        <label class="radio-inline"><input type="radio" name="optPA">Sim</label>
                        <label class="radio-inline"><input type="radio" name="optPA">Não</label>
                </div>
                <div class="col-md-offset-1 col-md-11">
                        <label>Marque as caratéristicas que melhor descrevem o quintal da sua casa</label>
                </div>
                <div class="col-md-offset-1 col-md-11">
                        <label>4.1 - Possui piso de:</label>
                        <label class="radio-inline"><input type="radio" name="optPiso">Piso</label>
                        <label class="radio-inline"><input type="radio" name="optPiso">Terra</label>
                        <label class="radio-inline"><input type="radio" name="optPiso">Cimento</label>
                </div>
                <div class="col-md-offset-1 col-md-11">
                        <label>4.2 - Local coberto para o pet:</label>
                        <label class="radio-inline"><input type="radio" name="optLC">Sim</label>
                        <label class="radio-inline"><input type="radio" name="optLC">Não</label>
                </div>
                <div class="col-md-12 margem-topo">
                        <label>5 - Você trabalha atualmente ?</label>
                        <label class="radio-inline"><input type="radio" name="optPA">Sim</label>
                        <label class="radio-inline"><input type="radio" name="optPA">Não</label>
                </div>
                <div class="col-md-offset-1 col-md-11">
                        <label for="onde">Onde?</label>
                        <input type="text" class="form-control" id="onde">
                </div>
                <div class="col-md-12 margem-topo">
                        <label for="mediaSalarial">6 - Média salarial da familia:</label>
                        <input type="number" class="form-control" id="mediaSalarial">
                </div>
                <div class="col-md-12 margem-topo">
                        <label>7 - Possui pets atualmente?</label>
                        <label class="radio-inline"><input type="radio" name="optPP">Sim</label>
                        <label class="radio-inline"><input type="radio" name="optPP">Não</label>
                </div>
                <div class="col-md-offset-1 col-md-11">
                        <label>7.1 - Qual Espécie?</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Cachorro</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Gato</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Outro</label>
                </div>
                <div class="col-md-offset-1 col-md-11">
                        <label>7.2 - Quantos?</label>

                        <label for="cachorro" class="margem-esquerda">Cachorro</label>
                        <input type="number" class="form-control largura" id="cachorro">
    
                        <label for="gato" class="margem-esquerda"> Gato</label>
                        <input type="number" class="form-control largura" id="gato">

                        <label for="outro" class="margem-esquerda">Outro</label>      
                        <input type="number" class="form-control largura" id="outro">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-md-offset-3 col-md-6"> 
        <div class="col-md-6"> 
                <button type="submit" class="btn btn-primary button">Cadastrar</button> 
        </div> 
        <div class="col-md-6"> 
                <button type="submit" class="btn btn-primary button">Cancelar</button> 
        </div> 
</div>