<div class="container page-box">
  <div class="row" style="margin-top:2%">
    <div class="col-md-12">
      <h3 class="pull-left">Pesquisa de Pets</h3>
      <button [routerLink]="['/registerPet']" type="button" class="btn btn-default pull-right"> Novo Pet <span class="glyphicon glyphicon-plus-sign"></span> </button>
    </div>
  </div>
  <hr>
  <div class="col-md-2">
    <!-- Inicio do card de filtro -->
    <div class="w3-card-2" style="margin-bottom:5%;">
      <header class="w3-container w3-white">
        <h4 class="text-center" style="margin-top:10%; margin-bottom:10%;"> <u> <strong>Filtro</strong> </u> </h4>
      </header>
      <div class="w3-container w3-white w3-margin-bottom" style="height:100px;">
        <form [formGroup]="filtroPetForm" action="" role="form">
          <div class="col-md-12 especial-radio">
            <div class="form-group">
              <label class="col-md-12">Especie</label>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="species" type="radio" name="species" value="Cachorro">Cachorro</label>
              </div>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="species" type="radio" name="species" value="Gato">Gato</label>
              </div>
            </div>
          </div>
          <div class="col-md-12 especial-radio">
            <div class="form-group">
              <label class="col-md-12">Sexo</label>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="sex" type="radio" name="sex" value="Macho">Macho</label>
              </div>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="sex" type="radio" name="sex" value="Femea">Femea</label>
              </div>
            </div>
          </div>
          <div class="col-md-12 especial-radio">
            <div class="form-group">
              <label class="col-md-12">Idade</label>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="age" type="radio" name="age" value="Filhote">Filhote</label>
              </div>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="age" type="radio" name="age" value="Adulto">Adulto</label>
              </div>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="age" type="radio" name="age" value="Idoso">Idoso</label>
              </div>
            </div>
          </div>
          <div class="col-md-12 especial-radio">
            <div class="form-group">
              <label class="col-md-12">Porte</label>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="size" type="radio" name="size" value="Pequeno">Pequeno</label>
              </div>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="size" type="radio" name="size" value="Médio">Médio</label>
              </div>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="size" type="radio" name="size" value="Grande">Grande</label>
              </div>
            </div>
          </div>
          <div class="col-md-12 especial-radio">
            <div class="form-group">
              <label class="col-md-12">Pelo</label>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="coat" type="radio" name="coat" value="Curto">Curto</label>
              </div>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="coat" type="radio" name="coat" value="Médio">Médio</label>
              </div>
              <div class="col-md-12">
                <label class="radio-inline"><input formControlName="coat" type="radio" name="coat" value="Longo">Longo</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <footer class="w3-container w3-white">
        <!-- <div class="col-md-12">
          <p class="text-center"><button type="button" class="btn btn-default" style="margin-top:5%; margin-bottom:5%;" (click)="filtrosPet()"> Aplicar <span class="glyphicon glyphicon-ok"></span></button></p>
        </div> -->
        <div class="col-md-12">
          <p class="text-center"><button type="button" class="btn btn-default" style="margin-top:5%; margin-bottom:5%;" (click)="limparFiltros()"> Limpar <span class="glyphicon glyphicon-remove"></span></button></p>
        </div> 
      </footer>
    </div>
    <!-- Fim do card de filtro -->
  </div>
  <div class="col-md-10">
    <div *ngFor="let pet of (pets | filtraPets: this.filtroPetForm)" class="col-md-4">
      <!-- Inicio do card -->
      <div class="w3-card-2" style="margin-bottom:5%;">
        <header class="w3-container w3-white">
          <div class="col-md-12" style="margin-top:15px;">
            <img class="especial-img img-responsive center-block" src="http://petvalley-psi-com-br.umbler.net/{{pet.avatar}}"
            />
          </div>
        </header>
        <hr>
        <div style="height:100px;" class="w3-container w3-white w3-margin-bottom">
          <div class="col-md-12 text-center">
            <p>
              <u> <strong>{{pet.name}}</strong> </u>
            </p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <p><strong>Idade:</strong>{{pet.age}}</p>
              </div>
              <div class="col-md-6">
                <p><strong>Sexo:</strong>{{pet.sex}}</p>
              </div>
              <div class="col-md-6">
                <p><strong>Pelo:</strong>{{pet.coat}}</p>
              </div>
              <div class="col-md-6">
                <p><strong>Porte:</strong>{{pet.size}}</p>
              </div>
            </div>
          </div>
        </div>
        <footer class="w3-container w3-white">
          <button (click)="viewPet(pet)" type="button" class="btn btn-default" style="float:right; margin-top:5%; margin-bottom:5%;" data-toggle="modal" data-target="#modalVisualizarPet"> Visualizar Pet <span class="glyphicon glyphicon-eye-open"></span> </button>
        </footer>
      </div>
      <!-- Fim do card -->
    </div>
    <pet-pet-view [pet]="petView"></pet-pet-view>
  </div>
</div>