<html>
    <head>
        <title>Pet Valley</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="logo-img text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <img alt="Brand" src="assets/img/petvalley.png">
        </div>
        <div class="w3-content" style="max-width:2000px;margin-top:46px">
            

              <div class="mySlides w3-display-container w3-center">
                  <img src="https://newevolutiondesigns.com/images/freebies/dog-facebook-cover-4.jpg" alt="Not found" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                  <h3>Precisando de um melhor amigo?</h3>
                  <p><b>Adote um.</b></p>   
                </div>
              </div>
        
              <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
                <h2 class="w3-wide">Pet Valley</h2>
                <p class="w3-opacity"><i>Adoção de animais</i></p>
                <p class="w3-justify">O projeto Pet Valley visa atender a necessidades de Organizações Não
                    Governamentais (ONGs) que trabalham incentivando a adoção de animais. Neste
                    projeto será produzido um software web que ajudará na automatização de
                    processos dentro das ONGs. Processo de adoção, processo de recebimento de
                    doações (suprimentos) e o processo de prestação de serviços voluntários. O sistema
                    produzido poderá ser acessado por usuários internos e externos a ONGs.</p>
                    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
                        <button type="button" class="btn btn-success" [routerLink]="['/login']">Clique aqui para Logar</button>
                    </div>
              </div>

        </div>
    </body>
</html>