.login{
    align-content: center;
    width: 30%;
    margin-top: 150px
}

.login .button{
    width: 100%
}

.header{
    text-align: center
}

.margem-topo{
    margin-top: 30px
}

.margem-esquerda{
    margin-left: 10px
}

.form-control.largura{
    width: 75px;
}