.login{
    align-content: center;
    width: 30%;
    margin-top: 150px
}

.login .button{
    width: 100%
}

.header{
    text-align: center
}

.margin-label{
    margin-top: 15px
}

.form-control.width-form{
    width: 30px
}