<div class="modal fade" id="modalEditarPet" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"> <span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">Editar Pet</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="page-header">
            <h4>Dados do Pet</h4>
          </div>
          <form [formGroup]="petEditForm">
            <div class="col-md-4">
              <div class="row">
                <div class="text-center col-md-12">
                  <h5> <strong>Foto do Pet</strong> </h5>
                  <img class="img-responsive" src="http://2.bp.blogspot.com/-ESfKU0HPoMg/VYr4iABVeBI/AAAAAAAAAt4/x4F_ZBCaHR8/s1600/pet.png">
                  <input type="file" id="selecionarImagem" style="display:none;">
                  <label class="btn btn-default" for="selecionarImagem">Selecionar <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></label>
                </div>
              </div>
            </div>
            <div class="col-md-8" *ngIf="this.pet != undefined; then loadPet()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nome">
                  </div>
                </div>
                <div class="col-md-6 especial-radio">
                  <div class="form-group">
                    <label class="col-md-6">Especie: </label>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="species" type="radio" name="species" value="Cachorro">Cachorro</label>
                    </div>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="species" type="radio" name="species" value="Gato">Gato</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 especial-radio">
                  <div class="form-group">
                    <label class="col-md-6">Sexo: </label>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="sex" type="radio" name="sex" value="Macho">Macho</label>
                    </div>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="sex" type="radio" name="sex" value="Femea">Femea</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 especial-radio">
                  <div class="form-group">
                    <label class="col-md-6">Vermif.: </label>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="vermifuges" type="radio" name="vermifuges" value="Sim">Sim</label>
                    </div>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="vermifuges" type="radio" name="vermifuges" value="Não">Não</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 especial-radio">
                  <div class="form-group">
                    <label class="col-md-6">Castrado: </label>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="neutered" type="radio" name="neutered" value="Sim">Sim</label>
                    </div>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="neutered" type="radio" name="neutered" value="Não">Não</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 especial-radio">
                  <div class="form-group">
                    <label class="col-md-6">Idade: </label>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="age" type="radio" name="age" value="Filhote">Filhote</label>
                    </div>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="age" type="radio" name="age" value="Adulto">Adulto</label>
                    </div>
                    <div class="col-md-offset-6 col-md-6">
                      <label class="radio-inline"><input formControlName="age" type="radio" name="age" value="Idoso">Idoso</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 especial-radio">
                  <div class="form-group">
                    <label class="col-md-6">Porte: </label>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="size" type="radio" name="size" value="Pequeno">Pequeno</label>
                    </div>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="size" type="radio" name="size" value="Médio">Médio</label>
                    </div>
                    <div class="col-md-offset-6 col-md-6">
                      <label class="radio-inline"><input formControlName="size" type="radio" name="size" value="Grande">Grande</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 especial-radio">
                  <div class="form-group">
                    <label class="col-md-6">Pelo: </label>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="coat" type="radio" name="coat" value="Curto">Curto</label>
                    </div>
                    <div class="col-md-6">
                      <label class="radio-inline"><input formControlName="coat" type="radio" name="coat" value="Médio">Médio</label>
                    </div>
                    <div class="col-md-offset-6 col-md-6">
                      <label class="radio-inline"><input formControlName="coat" type="radio" name="coat" value="Longo">Longo</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label for="descricao">Descrição</label>
                      <textarea class="form-control" formControlName="description" style="margin-bottom: 5%" id="descricao" cols="25" rows="10"></textarea>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-md-12">Vacinas:</label>
                    <div class="col-md-12 checkbox">
                      <label><input type="checkbox">V8/V10</label>
                    </div>
                    <div class="col-md-12 checkbox">
                      <label><input type="checkbox">Giardíse</label>
                    </div>
                    <div class="col-md-12 checkbox">
                      <label><input type="checkbox">Gripe Canina</label>
                    </div>
                    <div class="col-md-12 checkbox">
                      <label><input type="checkbox">Anti-rábica</label>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Salvar <span class="glyphicon glyphicon-floppy-disk"></span></button>
      </div>
    </div>
  </div>
</div>