<div class="container login">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4"></div>
      <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
        <form action="" method="POST" role="form">      
          <div class="form-group">
            <label for="">Usuário</label>
            <input type="text" class="form-control" id="" placeholder="">
          </div>
          <div class="form-group">
            <label for="">Senha</label>
            <input type="text" class="form-control" id="" placeholder="">
          </div>
        </form>  
      </div>
    <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4"></div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4"></div>
      <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <button class="btn btn-primary button" (click)="onSubmit()" >Login</button>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <a [routerLink]="['/registerUser']"><button class="btn btn-warning button">Cadastrar</button></a>
      </div>
    <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4"></div> 
  </div>
</div>