/* You can add global styles to this file, and also import other style files */

body{
    background-color: rgb(209, 209, 209);
}
.button{
    width: 100%;
    border-radius: 0
}
.page-box{
    background-color: white;
    padding: 2px 30px 2px;
}

.especial-button{
    border:none;
    background:none;
}

.especial-td{
    width: 40px;
    text-align: left;
    border: 1px solid black;
}
.requiredTag{
    color: red;
}

.especial-radio{
    margin-bottom: 25px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}