<div class="container page-box">
  <div class="page-header">
    <h2>Cadastro de Animais</h2>
  </div>
  <form>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <h5> <strong>Foto do Pet</strong> <span class="requiredTag"> * </span> </h5>
          <img class="user-img" src="" alt="">
          <input type="file">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nome">Nome <span class="requiredTag"> * </span> </label>
          <input type="text" class="form-control" id="nome" placeholder="Nome">
        </div>
      </div>
      <div class="col-md-6 especial-radio">
        <div class="form-group">
          <label class="col-md-4">Especie:</label>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optA">Cachorro</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optA">Gato</label>
          </div>
        </div>
      </div>
      <div class="col-md-6 especial-radio">
        <div class="form-group">
          <label class="col-md-4">Sexo:</label>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optSex">Macho</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optSex">Femea</label>
          </div>
        </div>
      </div>
      <div class="col-md-6 especial-radio">
        <div class="form-group">
          <label class="col-md-4">Vermifugado:</label>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optVE">Sim</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optVE">Não</label>
          </div>
        </div>
      </div>
      <div class="col-md-6 especial-radio">
        <div class="form-group">
          <label class="col-md-4">Castrado:</label>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optCA">Sim</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optCA">Não</label>
          </div>
        </div>
      </div>

      <div class="col-md-6 especial-radio">
        <div class="form-group">
          <label class="col-md-4">Idade</label>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optID">Filhote</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optID">Adulto</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optID">Idoso</label>
          </div>
        </div>
      </div>
      <div class="col-md-6 especial-radio">
        <div class="form-group">
          <label class="col-md-4">Porte:</label>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optPOR">Pequeno</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optPOR">Médio</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optPOR">Grande</label>
          </div>
        </div>
      </div>
      <div class="col-md-6 especial-radio">
        <div class="form-group">
          <label class="col-md-4">Pelo:</label>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optVE">Sim</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optVE">Não</label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>