<div class="container page-box">
  <div class="page-header">
    <h2>Cadastro de Animais</h2>
  </div>
  <form [formGroup]="petForm">
    <div class="col-md-4">
      <div class="row">
        <div class="text-center col-md-12">
          <h5> <strong>Foto do Pet</strong> </h5>
          <img class="img-responsive center-block" src="http://2.bp.blogspot.com/-ESfKU0HPoMg/VYr4iABVeBI/AAAAAAAAAt4/x4F_ZBCaHR8/s1600/pet.png">
          <input type="file" id="selecionarImagem" style="display:none;">
          <label class="btn btn-default" for="selecionarImagem">Selecionar <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></label>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nome">Nome<span class="requiredTag">*</span></label>
          <input formControlName="name" type="text"  value="name" class="form-control" id="nome" placeholder="Nome">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 especial-radio">
          <div class="form-group">
            <label class="col-md-4">Especie:<span class="requiredTag">*</span></label>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="species" type="radio" name="species" value="Cachorro">Cachorro</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="species" type="radio" name="species" value="Gato">Gato</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 especial-radio">
          <div class="form-group">
            <label class="col-md-4">Sexo:<span class="requiredTag">*</span></label>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="sex" type="radio" name="sex" value="Macho">Macho</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="sex" type="radio" name="sex" value="Femea">Femea</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 especial-radio">
          <div class="form-group">
            <label class="col-md-4">Vermif.:<span class="requiredTag">*</span></label>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="vermifuges" type="radio" name="vermifuges" value="Sim">Sim</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="vermifuges" type="radio" name="vermifuges" value="Não">Não</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 especial-radio">
          <div class="form-group">
            <label class="col-md-4">Castrado:<span class="requiredTag">*</span></label>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="neutered" type="radio" name="neutered" value="Sim">Sim</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="neutered" type="radio" name="neutered" value="Não">Não</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 especial-radio">
          <div class="form-group">
            <label class="col-md-4">Idade:<span class="requiredTag">*</span></label>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="age" type="radio" name="age" value="Filhote">Filhote</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="age" type="radio" name="age" value="Adulto">Adulto</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="age" type="radio" name="age" value="Idoso">Idoso</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 especial-radio">
          <div class="form-group">
            <label class="col-md-4">Porte:<span class="requiredTag">*</span></label>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="size" type="radio" name="size" value="Pequeno">Pequeno</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="size" type="radio" name="size" value="Médio">Médio</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="size" type="radio" name="size" value="Grande">Grande</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 especial-radio">
          <div class="form-group">
            <label class="col-md-4">Pelo:<span class="requiredTag">*</span></label>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="coat" type="radio" name="coat" value="Curto">Curto</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="coat" type="radio" name="coat" value="Médio">Médio</label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline"><input formControlName="coat" type="radio" name="coat" value="Longo">Longo</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-md-12">
              <label for="descricao">Descrição:</label>
              <textarea class="form-control" formControlName="description" style="margin-bottom: 30px" id="descricao" cols="20" rows="10"></textarea>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="col-md-12">
            <label>Vacinas: <span class="requiredTag">*</span> </label>
            <div class="row">
              <div class="form-group">
                <div class="col-md-6 checkbox">
                  <label><input formControlName="v8v10" type="checkbox" value="">V8/V10</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-md-6 checkbox">
                  <label><input formControlName="giardise" type="checkbox" value="">Giardíse</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-md-6 checkbox">
                  <label><input formControlName="gripeCanina" type="checkbox" value="">Gripe Canina</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-md-6 checkbox">
                  <label><input formControlName="antiRabica" type="checkbox" value="">Anti-rábica</label>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-offset-6">
      <div class="col-md-4 text-center">
        <button type="button" class="btn btn-default" [disabled]="petForm.invalid" (click)="onRegister()">Cadastrar <span class="glyphicon glyphicon-floppy-disk"></span></button>
      </div>
      <div class="col-md-4 text-center">
        <button (click)="back()" type="button" class="btn btn-default">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </div>
  <!-- Inicio Modal de Alerta -->
<div class="modal fade" id="modalAlerta" role="dialog" aria-hidden="ture" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" [routerLink]="['/listPet']">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>Alerta</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Animal registrado com sucesso!</p>
      </div>
      <div class="modal-footer">
      <p class="text-center"> <button type="button" class="btn btn-default" data-dismiss="modal" [routerLink]="['/listPet']">OK <span class="glyphicon glyphicon-ok"></span> </button> </p>
      </div>
    </div>
  </div>
</div>
<!-- Fim do modal -->
</div>